.h1, h1 {
  text-align:center;
}

.table thead th {
  align-items:center;
  align-content:center;
  align-self:center;
}

.img-fluid.figure-img {
  align-items:center;
}

.table td, .table th {
  align-items:center;
  align-content:center;
  align-self:center;
}

